* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Roboto;
}

/* Header nav */

header {
  background-color: #1f2937;
  padding: 16px 20vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-logo a {
  font-size: 24px;
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary-text a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-links ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

/* Header hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.flex-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.flex-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.flex-left p {
  font-size: 18px;
  text-align: justify;
  color: #e5e7eb;
}

.flex-left button {
  max-width: max-content;
  background-color: #3882f6;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 32px;
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.flex-right img {
  max-width: 90%;
  max-height: 90%;
  border: none;
  border-radius: 10px;
}

.hero button a {
  color: #fff;
}

.hero button:hover {
  cursor: pointer;
}

/* Main body content */

/* Square info box */

.square-info-box {
  padding: 64px 20vw;
  padding-bottom: 64px;
}

.main-info-container {
  margin: 32px 0;
  text-align: center;
}

h3.main-info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.square-info-boxes {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.info-box img {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 150px;
  border: 3px solid blue;
  border-radius: 10px;
}

/* Quote section */

.quote-text-block {
  background-color: #e5e7eb;
  padding: 128px 20vw;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

/* CTA section */

.cta {
  padding: 64px 5vw;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 10px;
  padding: 64px 15vw;
}

.cta-text {
  color: #f9faf8;
}

.cta-text h4 {
  font-size: 18px;
}

.cta-container button {
  min-width: max-content;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: medium;
  font-weight: bold;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  padding: 8px 32px;
}

.cta-container button a {
  color: #f9faf8;
}

.cta-container button:hover {
  cursor: pointer;
}
